:host {
  display: inherit;
  --ion-color-primary: var(--ion-color-primary);
  --ion-border-color: var(--ion-border-color);
  --ion-text-color: var(--ion-text-color);
}

ion-chip {
  --ion-color-primary: inherit;
  --ion-border-color: inherit;
  --ion-text-color: inherit;
  height: 28px;
  --ion-padding: 8px;
  --ion-margin: 8px;
  --color-step: inherit;
  animation: 0.5s linear fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
