{
  "PSK_TMP_WORKING_DIR": "tmp",
  "PSK_CONFIG_LOCATION": "../apihub-root/external-volume/config",
  "SSAPPS_FAVORITE_EDFS_ENDPOINT": "http://localhost:8080",
  "BDNS_ROOT_HOSTS": "$BDNS_ROOT_HOSTS"
}