<webc-container controller="IndividualProductController">
    <managed-individual-product individual-ref="@individualRef"
                                statuses="@statuses"

                                title-string="@manage.title"
                                back-string="@back"
                                product-name-string="@manage.name"
                                gtin-string="@manage.gtin.label"
                                batch-string="@manage.batch"
                                manuf-string="@manage.manufName"
                                expiry-string="@manage.expiry"
                                serial-string="@manage.serial"
                                status-string="@manage.status"
    ></managed-individual-product>
</webc-container>