<webc-container controller="IssuedOrdersController">
    <pdm-ion-table
            table-title="@title"
            item-reference="order-id"
            paginated="true"
            manager="IssuedOrderManager"
            icon-name="stats-chart"
            item-type="managed-order-list-item"
            item-props="type:issued"
            items-per-page="10">
        <ion-button slot="buttons" fill="solid" color="secondary" data-tag="new-issued-order">
            {{ @buttons.new-issued-order }}
            <ion-icon slot="end" name="add-circle"></ion-icon>
        </ion-button>
    </pdm-ion-table>
</webc-container>


