<webc-container controller="IssuedOrderController">
    <managed-issued-order order-lines="@orderLines"
                          requester="@requester"
                          title-string="@title"
                          proceed-string="@buttons.create"
                          details-string="@details"
                          from-string="@from"
                          from-placeholder-string="@fromPlaceholder"
                          from-at-string="@fromAt"
                          to-at-string="@toAt"
                          products-string="@products"
                          quantity-string="@quantity"
                          scan-string="@scan"
                          directory-string="@directory"
        ></managed-issued-order>
</webc-container>