<webc-container controller="IssuedShipmentsController">
    <pdm-ion-table
            table-title="@title"
            item-reference="shipment-id"
            paginated="true"
            search-bar-placeholder="id, requester id"
            manager="IssuedShipmentManager"
            icon-name="stats-chart"
            item-type="managed-shipment-list-item"
            item-props="type:issued"
            items-per-page="10">
<!--        <ion-button slot="buttons" fill="solid" color="secondary" data-tag="new-issued-shipment">-->
<!--            {{ @buttons.new-issued-shipment }}-->
<!--            <ion-icon slot="end" name="add-circle"></ion-icon>-->
<!--        </ion-button>-->
    </pdm-ion-table>
</webc-container>


