<webc-container controller="OrderController">
    <managed-received-order order-id="@orderReference"
        title-string="@title"
        details-string="@details"
        products-string="@products"
        available-string="@available"
        unavailable-string="@unavailable"
        stock-string="@stock"
        no-stock-string="@noStock"
        select-product-string="@selectProduct"
        reject-string="@buttons.reject"
        reject-all-string="@rejectAll"
        confirmed-string="@confirmed"
        confirm-all-string="@confirmAll"
        proceed-string="@buttons.proceed"></managed-received-order>
</webc-container>
