<webc-container controller="ReceivedOrdersController" disable-container>
    <pdm-ion-table
        title="@title"
        item-reference="order-id"
        paginated="true"
        manager="ReceivedOrderManager"
        buttons="@buttons"
        mode="byref"
        icon-name="stats-chart-outline"
        item-type="managed-received-order-list-item"
        items-per-page="10">
    </pdm-ion-table>
</webc-container>
<!--
    <ion-header>
        <ion-toolbar>
            <ion-item>
                <ion-label>{{ @title }}</ion-label>
            </ion-item>
            <ion-buttons slot="primary">
                <ion-button name="button-refresh-received-orders" type="submit" color="primary" data-tag="refreshMessages">{{ @refresh }}</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <div data-if="@hasOrders">
        <div slot="true">
            <ion-grid class="ion-padding">
                <ion-row class="ion-align-self-center ion-text-uppercase">
                    <ion-col size="4">
                        <ion-label>{{ @numberHeader }}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label>{{ @orderingPartnerHeader }}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label>{{ @supplyingPartnerHeader }}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-self-center" data-for="@orders">
                    <ion-col size="4">
                        <ion-item>
                            <ion-label>{{ @orderId }}</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label>{{ @requesterId }}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label>{{ @senderId }}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div slot="false">
            <ion-item>
                <ion-label>{{ @none }}</ion-label>
            </ion-item>
        </div>
    </div>
-->