<webc-container controller="ShipmentController">
    <managed-issued-shipment shipment-id="@shipmentReference"
                            title-string="@title"
                            details-string="@details"
                            products-string="@products"
                            available-string="@available"
                            unavailable-string="@unavailable"
                            stock-string="@stock"
                            no-stock-string="@noStock"
                            select-product-string="@selectProduct"
                            reject-string="@buttons.reject"
                            reject-all-string="@rejectAll"
                            confirmed-string="@confirmed"
                            confirm-all-string="@confirmAll"
                            proceed-string="@buttons.proceed"></managed-issued-shipment>
</webc-container>
