
    <webc-container controller="ShipmentController">
        <managed-received-shipment shipment-id="@shipmentReference"
                                title-string="@title"
                                details-string="@details"
                                products-string="@products"
                                available-string="@available"
                                unavailable-string="@unavailable"
                                stock-string="@stock"
                                no-stock-string="@noStock"
                                select-product-string="@selectProduct"
                                reject-string="@buttons.reject"
                                proceed-string="@buttons.proceed"></managed-received-shipment>
    </webc-container>
