:root {
    --ion-color-primary: #008798;
    --ion-color-primary-rgb: 0, 135, 152;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #007786;
    --ion-color-primary-tint: #1a93a2;

    --ion-color-secondary: #00345b;
    --ion-color-secondary-rgb: 0, 52, 91;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #002e50;
    --ion-color-secondary-tint: #1a486b;

    --ion-color-tertiary: #134e9e;
    --ion-color-tertiary-rgb: 19, 78, 158;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #11458b;
    --ion-color-tertiary-tint: #2b60a8;

    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    --ion-color-medium: #B7C2CD;
    --ion-color-medium-rgb: 189, 202, 223;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #a6b2c4;
    --ion-color-medium-tint: #c4cfe2;

    --ion-color-light: #ffffff;
    --ion-color-light-rgb: 255, 255, 255;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --ion-background-color: #F9FBFC;
    --ion-font-family: "Open Sans", "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


ion-card {
    --background: #fff;
    box-shadow: none;
    border-radius: 8px;
}

.login-image {
    width: auto;
    height: 100vh;
    object-fit: cover;
}
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.login-form {
    width: 60%;
    position: relative;
    margin: 0 auto;
}

.top-bar-text {
    color: #B7C2CD;
}

ion-badge {
    padding: 4px 8px;
    border-radius: 30px;
    margin-right: 5px;
}

ion-item {
    border-radius: 8px;
    --background: transparent;
}

.sc-ion-searchbar-md-h {
    padding: 0;
    border-bottom: 1px solid var(--ion-color-medium);
    --box-shadow: 0;
    --placeholder-color: var(--ion-color-medium);
    --icon-color: var(--ion-color-medium);
}

ion-button {
    --box-shadow: 0;
    --border-radius: 8px;
}

ion-input {
    --background: transparent;
}

.selectable-text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}