<webc-container controller="SaleController">
    <managed-sale sale-ref="@saleRef"

                  create-title-string="@create.title"
                  manage-title-string="@manage.title"
                  back-string="@back"
                  scanner-title-string="@scanner"
                  product-string="@create.product"
                  selected-products-string="@create.selectedProducts"
                  quantity-string="@create.quantity"
                  create-string="@create.buttons.create"
                  cancel-string="@create.buttons.clear"
    ></managed-sale>
</webc-container>
