:host {
  display: block;
  --ion-margin: var(--ion-margin, 16px);
}

ion-popover.organizer-popover{
  --width: auto;
}

ion-popover.organizer-popover ion-list > *{
  margin: var(--ion-margin, 16px) 0 var(--ion-margin, 16px) calc(var(--ion-margin, 16px)/2);
}

ion-popover.organizer-popover ul > *{
  margin: var(--ion-margin, 16px) 0 var(--ion-margin, 16px) calc(var(--ion-margin, 16px)/2);
}

pdm-item-organizer > div > * {
  margin-left: var(--ion-margin, 16px);
}
