:host {
  display: block;

}

ion-popover.organizer-popover{
  --pop-over-margin: var(calc(--ion-margin/2), 8px);
  --width: auto;
}

ion-popover.organizer-popover ion-list > *{
  margin: calc(var(--pop-over-margin)/2) var(--pop-over-margin);
}

ion-popover.organizer-popover ul > *{
  margin: calc(var(--pop-over-margin)/2) var(--pop-over-margin);
}

pdm-item-organizer {
  --organizer-item-margin: var(--ion-margin, 16px);
}

pdm-item-organizer> div.ion-justify-content-end  > *{
  margin-left: var(calc(--organizer-item-margin/2), 8px);
}

pdm-item-organizer > div.ion-justify-content-start > *{
  margin-right: var(calc(--organizer-item-margin/2), 8px);
}
