*, *:after, *:before {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.page_content {
    position: relative;
}

.menu {
    gap: 2em; padding: 170px 2em 2em 2em;
    width: 100%;
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);
}

.menu psk-link span {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1em; padding: 2em 1em;
    border-radius: 5px;
    color: #FFFFFF;
    min-width: 230px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.menu psk-link:nth-child(1) span {
    background: linear-gradient(225deg, #FEE140 0%, #fa9570 100%);
}

.menu psk-link:nth-child(1):hover span {
    background: linear-gradient(150deg, #FEE140 0%, #fa9570 100%);
}

.menu psk-link:nth-child(2) span {
    background: linear-gradient(225deg, #FEE140 0%, #fa9570 100%);
}

.menu psk-link:nth-child(2):hover span {
    background: linear-gradient(150deg, #FEE140 0%, #fa9570 100%);
}

.menu psk-link:nth-child(3) span {
    background: linear-gradient(125deg, #976ff9 0%, #784BA0 1%, #2B86C5 99%);
}

.menu psk-link:nth-child(3):hover span {
    background: linear-gradient(175deg, #976ff9 0%, #784BA0 1%, #2B86C5 99%);
}

.menu psk-link:nth-child(4) span {
    background: linear-gradient(125deg, #976ff9 0%, #784BA0 1%, #2B86C5 99%);
}

.menu psk-link:nth-child(4):hover span {
    background: linear-gradient(175deg, #976ff9 0%, #784BA0 1%, #2B86C5 99%);
}

.menu psk-link span img {
    height: 50px;
    filter: invert(1);
}

.menu psk-link span p {
    font-size: 110%;
}

@media screen and (max-width: 900px) {
    .menu {
        grid-template-columns: 1fr;
    }
}