<webc-container controller="BatchController">
    <managed-batch gtin-ref="@gtinBatch"
                     create-title-string="@create-title"
                     manage-title-string="@manage-title"
                     back-string="@back"
                     batch-number-string="@batchNumber.label"
                     expiry-string="@expiry.label"
                     serials-string="@serialNumbers.label"
                     serials-placeholder-string="@serialNumbers.placeholder"
                     add-batch-string="@buttons.create-batch"
                     cancel-string="@buttons.cancel"
    ></managed-batch>
</webc-container>