<webc-container controller="OrderLinesController">
    <pdm-ion-table table-title="@title"
                   can-query="true"
                   paginated="true"
                   items-per-page="10"
                   manager="OrderLineManager"
                   buttons="@buttons"
                   icon-name="stats-chart"
                   item-reference="order-line"
                   item-type="managed-orderline-list-item"
                   item-props=""></pdm-ion-table>
</webc-container>


