<webc-container controller="ProductController">
    <managed-product gtin="@gtinRef"
                     manuf-name="@manufId"
                     create-title-string="@create.title"
                     manage-title-string="@manage.title"
                     back-string="@back"
                     product-name-string="@create.name.label"
                     gtin-string="@create.gtin.label"
                     manuf-string="@create.manufName.label"
                     description-string="@create.description.label"
                     description-placeholder-string="@create.description.placeholder"
                     add-product-string="@create.buttons.create"
                     clear-string="@create.buttons.clear"
                     batches-title="@manage.batches.title"
                     batches-add-button-label="@manage.batches.buttons.label"
    ></managed-product>
</webc-container>