<webc-container controller="ProductController">
    <managed-product gtin="@gtinRef"
                     manuf-name="@manufId"
                     create-title-string="@create-title"
                     manage-title-string="@manage-title"
                     back-string="@back"
                     product-name-string="@name.label"
                     gtin-string="@gtin.label"
                     manuf-string="@manufName.label"
                     description-string="@description.label"
                     description-placeholder-string="@description.placeholder"
                     add-product-string="@buttons.create-product"
                     clear-string="@buttons.cancel"
                     batches-title="@batches.title"
                     batches-add-button-label="@batches.buttons.label"
    ></managed-product>
</webc-container>