<webc-container controller="ReceivedOrdersController">
    <pdm-ion-content-display
        content-title="@title"
        icon-name="stats-chart"
        
   
    
    >
    </pdm-ion-content-display>



    <!-- <pdm-ion-table

            paginated="true"
            manager="ReceivedOrderManager"
        
            items-per-page="10"
            item-reference="order-id"
            item-type="managed-order-list-item"
            item-props="type:received">
    </pdm-ion-table> -->
</webc-container>
