<webc-container controller="ShipmentController">
    <managed-order shipment-ref="@shipmentRef"
                   order-lines="@orderLines"
                   identity="@identity"

                   order-type="issued"

                   create-title-string="@create.title"
                   manage-title-string="@manage.title"
                   back-string="@back"
                   scanner-title-string="@scan"

                   create-string="@create.buttons.create"
                   clear-string="@create.buttons.clear"

                   from-string="@create.from"
                   from-placeholder-string="@create.fromPlaceholder"
                   from-at-string="@create.fromAt"
                   to-at-string="@create.toAt"
                   products-string="@create.products"
                   quantity-string="@create.quantity"
    ></managed-order>
</webc-container>
