<webc-container controller="ShipmentLinesController">
    <pdm-ion-table table-title="@title"
                   can-query="true"
                   paginated="true"
                   items-per-page="10"
                   manager="ShipmentLineManager"
                   buttons="@buttons"
                   icon-name="stats-chart-outline"
                   item-reference="shipment-line"
                   item-type="managed-shipmentline-list-item"
                   item-props=""></pdm-ion-table>
</webc-container>


