<webc-container controller="StockController" enable-translations="true">
    <div data-if="@hasStock">
        <div slot="true">
            <ion-grid class="ion-padding">
<!--                <ion-row class="ion-align-self-center ion-text-uppercase">-->
<!--                    <ion-col size="4">-->
<!--                        <ion-label>{{ @gtinHeader }}</ion-label>-->
<!--                    </ion-col>-->
<!--                    <ion-col size="2">-->
<!--                        <ion-label>{{ @nameHeader }}</ion-label>-->
<!--                    </ion-col>-->
<!--                    <ion-col size="4">-->
<!--                        <ion-label>{{ @batchesHeader }}</ion-label>-->
<!--                    </ion-col>-->
<!--                    <ion-col size="2">-->
<!--                        <ion-label>{{ @quantityHeader }}</ion-label>-->
<!--                    </ion-col>-->
<!--                </ion-row>-->
                <ion-row class="ion-align-self-center" data-for="@stock">
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <barcode-generator type="isbn" data="@gtin"></barcode-generator>
                        </ion-thumbnail>
                        <ion-label>
                            <h3>{{ @gtin }}</h3>
                            <h5>{{ @name }}</h5>
                        </ion-label>
                        <ion-buttons slot="end">
                            <ion-button slot="primary">
                                <<ion-icon name="file-tray-stacked-outline"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-item>
                </ion-row>
            </ion-grid>
        </div>
        <div slot="false">
            <ion-item>
                <ion-label>{{ @none }}</ion-label>
            </ion-item>
        </div>
    </div>
</webc-container>
