<ion-header>
    <ion-toolbar>
        <ion-img class="modal-class" align=center" src="resources/images/pharmaledger-logo.svg"></ion-img>
        <ion-title size="small" align="center" >{{ @title }}</ion-title>
        <div data-if="@can-exit">
            <ion-buttons slot="primary">
                <ion-button onClick="dismissModal()">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    Modal Content

</ion-content>
<ion-footer class="ion-padding">
</ion-footer>