html {
    background-color: #ffcecc;
    background-image: linear-gradient(232deg, #ffcecc 0%, #FFFFFF 54%);
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.center-aligned-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.vertical-align {
}

.center-aligned-controls a {
    margin: 10px;
    padding: 20px 70px;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
}

.center-aligned-controls a img {
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.left-side {
    display: flex;
    align-items: center;
    filter: invert(1);
}

.right-side {
    margin-left: 20px;
    width: 120px;
    display: block;
    text-align: center;
}

.center-aligned-controls p {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.scale-up:hover {
    transform: scale(1.2);
    box-shadow: 0 0 24px -2px rgba(0, 0, 0, 0.75);
}

.dsu-fabric_button {
    background-color: #FEE140;
    background-image: linear-gradient(125deg, #FEE140 , #fa9570 );
}

.dsu-fabric_button:hover {
    background-image: linear-gradient(150deg, #FEE140 , #fa9570 );
}

.leaflet-wallet_button {
    background-color: #976ff9;
    background-image: linear-gradient(125deg, #976ff9 , #784BA0 );
}

.leaflet-wallet_button:hover {
    background-image: linear-gradient(150deg, #976ff9 , #784BA0 );
}

.web-wallet_button {
    background: #74ebd5;
    background-image: linear-gradient(125deg, #ACB6E5, #74ebd5);
}

.web-wallet_button:hover {
    background-image: linear-gradient(150deg, #ACB6E5, #74ebd5);
}
