:host {
  display: inherit;
  --ripple-color: var(--color-selected);
  --background-focused-opacity: 1;
  --ion-icon-color: var(--ion-icon-color);
  flex: inherit;
  flex-direction: inherit;
  background: var(--background);
  color: var(--color)
}

menu-tab-button{
  display: inherit;
}

ion-icon.menu-tab-button{
  color: var(--ion-text-color);
}

menu-tab-button ion-item.tab-selected{
  color: var(--ion-color-primary);
}

ion-item.pop-over-item ion-icon{
  color: var(--ion-text-color);
}
