:host {
  display: block;
  --background: inherit;
}

ion-item.main-item{
  animation: 1s linear fadein;
}

ion-item.main-item ion-grid{
  width: 100%;
}

ion-col ion-label.ion-padding{
  padding-top: 4px;
  padding-bottom: 4px;
}

managed-orderline-list-item ion-skeleton-text.label-name{
  width: 50%;
}

managed-orderline-list-item ion-skeleton-text.label-gtin{
  width: 60%;
}

managed-orderline-list-item ion-skeleton-text.label-requester{
  width: 50%;
}

managed-orderline-list-item ion-skeleton-text.label-date{
  width: 80%;
}

ion-chip {
  height: 28px;
  --ion-padding: 8px;
  --ion-margin: 8px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
