:host {
  display: block;
  --ion-color-primary: inherit;
  --ion-color-seconday: inherit;
  --ion-color-primary-contrast: inherit;
}

managed-issued-shipment{
  --ion-color-primary: inherit;
  --ion-color-secondary: inherit;
  --ion-color-primary-contrast: inherit;
  --color: var(--ion-color-primary-contrast)
}

ion-card-title{
  color: var(--ion-color-primary)
}

ion-card-subtitle{
  color: var(--ion-color-secondary)
}

ion-item.selected{
  --color: var(--ion-color-success)
}

ion-item.finished{

}

ion-item.unnecessary{
  --color: red
}

ion-item.normal{

}
