:host {
  display: block;
}

ion-button[color="medium"]:hover{
  --color: var(--ion-color-secondary);
}

ion-item.main-item{
  animation: 1s linear fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
