:host {
  display: block;
  --background: inherit;
  --ion-color-primary: inherit;
  --ion-border-color: inherit;
  --ion-text-color: inherit;
}

ion-chip {
  height: 28px;
  --ion-padding: 8px;
  --ion-margin: 8px;

  --ion-color-primary: inherit;
  --ion-border-color: inherit;
  --ion-text-color: inherit;
  --color-step: var(--ion-color-primary);
  --color-step-rgba: rgba(var(--color-step), 0.10);

  --color-step-0: #c70000;
  --color-step-5: #c0070d;
  --color-step-10: #ba0e1a;
  --color-step-15: #b31526;
  --color-step-20: #ac1c33;
  --color-step-25: #a62340;
  --color-step-30: #9f2a4d;
  --color-step-35: #983159;
  --color-step-40: #923866;
  --color-step-45: #8b3f73;
  --color-step-50: #854680;
  --color-step-55: #7e4d8c;
  --color-step-60: #775499;
  --color-step-65: #715ba6;
  --color-step-70: #6a62b3;
  --color-step-75: #6369bf;
  --color-step-80: #5d70cc;
  --color-step-85: #5677d9;
  --color-step-90: #4f7ee6;
  --color-step-95: #4985f2;
  --color-step-100: var(--ion-color-primary);
}

ion-item.main-item{
  animation: 1s linear fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
